.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-items:center;
}

body {
    background: url(images/background.jpg)
    center center/cover no-repeat;

}
.secion_inventario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.contenedor_continer{
    width: 100%;
    display: flex;
    border:1px solid  #00B4D8;
    max-width: 600px;
    justify-content: center;
    align-items: center;
}
h1 {
    color: #141410;
    font-family: georgia;
    margin: 20px auto;
    width: 450px;
    font-size: 3rem;
    text-align: center;
    
}

img {
    width: 400px;
  height: 300px;
    margin: 10px;
    border: 2px solid #00B4D8;
    animation: float 7s ease-in-out infinite;

  
}

img:hover {
 
  
}

.listado {
    background-color: #00B4D8;
    opacity: 50%;

}
@keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
