*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia;
  font-style: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 10px;
  background: conic-gradient(from 0deg, #1A2d3b, #0E2228, #102831, #041117, #1A2d3b);
  color: #FBF1F1;
  
}
body::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: conic-gradient(from 0deg, #1A2d3b, #0E2228, #102831, #041117, #1A2d3b);
  color: #FBF1F1;
  z-index: -1; 
  background-image: url(background.jpg);
}
.contenedor{
  width: 400px;
  border-radius: 15px;
  padding: 40px;
  text-align: center;
  background: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  box-shadow: 0 12px 48px rgba(0, 0, 0, 0.37); 
  transition: all 0.3s ease; 
}
.contenedor:hover{
    box-shadow: 0 12px 48px rgba(0, 0, 0, 1)
}
.contenedor a:hover{
  text-decoration: underline;
}
.formulario{
  display: flex;
  flex-direction: column;
}
h2{
  font-size: 2.2rem;
  margin-bottom: 25px;
  color: #ffffff;
  letter-spacing: 1px;
  
}
button{
  background-color: #1A2d3b;
  color: aqua;
  width: 100%;
  font-weight: 600;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 15px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  margin-top: 30px;
}
button:hover{
  color: #000000;
  background: rgba(179, 212, 203, 1);
  border-color: #ffffff;
}
button a{
  text-decoration: none;
  color: aqua;
}
.registro{
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.registro a:hover{
  color: antiquewhite;
  text-decoration: none;
}
.registro a{
  color: red;
  text-decoration: none;
}
/* correo*/

.input{
  position: relative;
  margin-top: 10px;
  text-align: left;
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
 
  
}
input label{
  position: absolute;
  transform: translateY(-50%);
  color: #ffffff;
  font-size: 16px;
  pointer-events: none;
  transition: 0.3 ease;
}
.input input {
  width: 100%;
  height: 20px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 600;
  color: #ffffff;
} 

/* contraseña*/
.password {
  position: relative;
  margin-top: 10px;
  text-align: left;
  
  
}
.password label {
  display: block; 
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 5px; 
}
.contenedor-password {
  display: flex;
  align-items: center; 
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
  position: relative;
}
.password input {
  width: 100%;
  height: 20px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 600;
  color: #ffffff;
  flex-direction: inline;
  
}
i{
  
  font-size:20px;
}
.teofilo{
  display: flex;
  margin-top: 20px;
  align-items: flex-start;
}
.teofilo a {
  color: red;
  text-decoration: none;
  
}
.teofilo a:hover{
  text-decoration: none;
  color: #000000;
  background: transparent;
  border-color: #ffffff;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}